<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Targeting Region</label>
        <div class="col-sm-6">
            <select2 class="select2" (valueChanged)="setTargetingRegion($event.value)" [cssImport]="true" [options]="options"><option>Center</option></select2>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Target Grouping</label>
        <div class="col-sm-6">
            <select2 class="select2" (valueChanged)="setTargetGrouping($event.value)" [cssImport]="true" [options]="options"><option>Single Target</option><option>Dual Target</option><option>In Target</option></select2>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Crosshair Mode</label>
        <div class="col-sm-6">
            <select2 class="select2" (valueChanged)="setCrosshairMode($event.value)" [cssImport]="true" [options]="options"><option>Single Crosshair</option><option>Dual Crosshair</option></select2>
        </div>
    </div>

    <div class="row"><h2><span>Crosshair A</span></h2></div>

    <div class="form-group row">
        <button class="btn btn-light btn-dark">Calibrate XY</button>
        <button class="btn btn-light btn-dark">Only X</button>
        <button class="btn btn-light btn-dark">Only Y</button>
    </div>
 </form>