.camera-wrapper {
    padding: 24px;
}

.navbar {
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 5px);
}

.nav-tabs {
    border-bottom: 1px solid #000;
}

.nav-tabs .nav-item {
    color: #fff;
}

.nav-tabs .nav-item.active {
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #66bf0c;
    color: #66bf0c;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    /* border-bottom-color: #66bf0c; */
    color: #66bf0c;
}

.camera-wrapper h4 {
    font-size: 0.8em;
    text-align: center;
}

.streaming-frame {
    background-color: #181719;
    margin-bottom: 0.5rem;
    width: 100%;
}

.data span {
    color: #517d38;
}