.disabled {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

.content-wrapper {
    margin: 0 16px;
}

.section {
    min-height: 360px;
    padding: 24px;
}

.navbar {
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 5px);
    padding: 0 1rem;
}

.navbar h5 {
    display: inline;
    font-size: 1.17rem;
    padding-right: 20px;
}

.navbar select {
    display: inline;
    margin-right: 20px;
    width: auto;
}

.navbar .btn {
    background-color: #181719;
    border-color: #555;
    font-size: 13px;
    height: 24px;
    margin-right: 10px;
    padding: 0 7px;
}

.navbar .btn i {
    color: #ccc;
}

.nav-tabs {
    border-bottom: 1px solid #000;
}

.nav-tabs .nav-item {
    color: #fff;
    flex: none;
    font-size: 14px;
    font-weight: 500;
}

.nav-tabs .nav-item.active {
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #66bf0c;
    color: #66bf0c;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    /* border-bottom-color: #66bf0c; */
    color: #66bf0c;
}

.content-wrapper h4 {
    font-size: 1em;
    text-align: center;
}

.streaming-frame {
    background-color: #181719;
    margin-bottom: 0.5rem;
    width: 100%;
}

.sliding {
    border: 2px solid #95e4ea;
}

.highlight {
    -moz-box-shadow:    0 0 5px 5px #95e4ea;
    -webkit-box-shadow: 0 0 5px 5px #95e4ea;
    box-shadow:         0 0 5px 5px #95e4ea;
}

.data span {
    color: #517d38;
}