.row h2 {
    border-bottom: 1px solid #ccc; 
    font-size: 1.1em;
    line-height: 0.1em;
    margin: 10px 0 20px;
    padding-left: 40px;
    width: 100%; 
 } 
 
 .row h2 span { 
     background:#212121; 
     padding:0 10px; 
 }

 .btn-dark {
     background-color: #181719;
     border-radius: 0;
     border-color: #181719;
 }

 .btn-dark:hover, .btn-dark:focus {
    background-color: #181719;
    border-color: #66bf0e;
    color: #66bf0e;
 }
 
 .btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus, .show>.btn-dark.dropdown-toggle:focus {
     box-shadow: 0 0 0 0.2rem rgba(102,191,14,.5);
 }

.form-group label {
    padding-left: 0;
}

.form-group .col-sm-1:last-child {
    padding-right: 0;
}