<form>
    <div class="row"><h2><span>Magic Wands</span></h2></div>

    <div class="form-group row">
        <button class="btn btn-light btn-dark">Eyedropper</button>
        <button class="btn btn-light btn-dark">Include Pixel</button>
        <button class="btn btn-light btn-dark">Ignore Pixel</button>
    </div>
    
    <div class="seperator row"></div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Hue</label>
        <div class="col-sm-1">
            <input name="minHue" [(ngModel)]="minHue" type="number" class="form-control">
        </div>
        <div class="col-sm-6 offset-sm-1 col-form-label">
            <ion-range-slider type="double" [from]="initialMinHue" [to]="initialMaxHue" min="0" max="179" hide_from_to="true" (onChange)="setHue($event)"></ion-range-slider>
        </div>
        <div class="col-sm-1 offset-sm-1">
            <input name="maxHue" [(ngModel)]="maxHue" type="number" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Saturation</label>
        <div class="col-sm-1">
            <input name="minSaturation" [(ngModel)]="minSaturation" type="number" class="form-control">
        </div>
        <div class="col-sm-6 offset-sm-1 col-form-label">
            <ion-range-slider type="double" [from]="intialMinSaturation" [to]="initialMaxSaturation" min="0" max="255" hide_from_to="true" (onChange)="setSaturation($event)"></ion-range-slider>
        </div>
        <div class="col-sm-1 offset-sm-1">
            <input name="maxSaturation" [(ngModel)]="maxSaturation" type="number" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Value</label>
        <div class="col-sm-1">
            <input name="minValue" [(ngModel)]="minValue" type="number" class="form-control">
        </div>
        <div class="col-sm-6 offset-sm-1 col-form-label">
            <ion-range-slider type="double" [from]="initialMinValue" [to]="initialMaxValue" min="0" max="255" hide_from_to="true" (onChange)="setValue($event)"></ion-range-slider>
        </div>
        <div class="col-sm-1 offset-sm-1">
            <input name="maxValue" [(ngModel)]="maxValue" type="number" class="form-control">
        </div>
   </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Erosion Steps</label>
        <div class="col-sm-1">
            <input name="erosion" [(ngModel)]="erosion" type="number" class="form-control">
        </div>
        <div class="col-sm-6 offset-sm-1 col-form-label">
            <ion-range-slider [from]="initialErosion" min="0" max="5" hide_min_max="true" (onChange)="setErosion($event)"></ion-range-slider>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Dilation Steps</label>
        <div class="col-sm-1">
            <input name="dilation" [(ngModel)]="dilation" type="number" class="form-control">
        </div>
        <div class="col-sm-6 offset-sm-1 col-form-label">
            <ion-range-slider [from]="initialDilation" min="0" max="5" hide_min_max="true" (onChange)="setDilation($event)"></ion-range-slider>
        </div>
    </div>
</form>