<form>
    <div class="row"><h2><span>Magic Wands</span></h2></div>

    <div class="btn-group row" (click)="onButtonGroupClick($event)">
        <button id="eyedropper" type="button" class="btn btn-dark mr-1" placement="top" ngbTooltip="Hello" data-toggle="button" aria-pressed="false" (blur)="onButtonGroupBlur($event)">Eyedropper</button>
        <button id="include" type="button" class="btn btn-dark mr-1" data-toggle="button" aria-pressed="false" (blur)="onButtonGroupBlur($event)">Include Pixel</button>
        <button id="ignore" type="button" class="btn btn-dark mr-1" data-toggle="button" aria-pressed="false" (blur)="onButtonGroupBlur($event)">Ignore Pixel</button>
        <button id="reset" type="button" class="btn btn-dark mr-1" aria-pressed="false" (click)="onReset()">Reset</button>
    </div>
    
    <div class="seperator row"></div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Hue</label>
        <div class="col-sm-1">
            <input name="hueInput.lower" [(ngModel)]="hueInput.lower" type="number" min="0" max="179" class="form-control" (change)="onInputChange(hueInput, $event, true)" (keyup)="onInputChange(hueInput, $event, true)">
        </div>
        <div class="col-sm-6 offset-sm-1 col-form-label">
            <ion-range-slider type="double" [from]="hueSlider.lower" [to]="hueSlider.upper" min="0" max="179" hide_from_to="true" (onChange)="onSliderChange(hueSlider, $event)"></ion-range-slider>
        </div>
        <div class="col-sm-1 offset-sm-1">
            <input name="hueInput.upper" [(ngModel)]="hueInput.upper" type="number" min="0" max="179" class="form-control" (change)="onInputChange(hueInput, $event, false)" (keyup)="onInputChange(hueInput, $event)">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Saturation</label>
        <div class="col-sm-1">
            <input name="saturationLower" [(ngModel)]="saturationInput.lower" type="number" min="0" max="255" class="form-control" (change)="onInputChange(saturationInput, $event, true)" (keyup)="onInputChange(saturationInput, $event, true)">
        </div>
        <div class="col-sm-6 offset-sm-1 col-form-label">
            <ion-range-slider type="double" [from]="saturationSlider.lower" [to]="saturationSlider.upper" min="0" max="255" hide_from_to="true" (onChange)="onSliderChange(saturationSlider, $event)"></ion-range-slider>
        </div>
        <div class="col-sm-1 offset-sm-1">
            <input name="saturationUpper" [(ngModel)]="saturationInput.upper" type="number" min="0" max="255" class="form-control" (change)="onInputChange(saturationInput, $event, false)" (keyup)="onInputChange(saturationInput, $event)">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Value</label>
        <div class="col-sm-1">
            <input name="valueLower" [(ngModel)]="valueInput.lower" type="number" min="0" max="255" class="form-control" (change)="onInputChange(valueInput, $event, true)" (keyup)="onInputChange(valueInput, $event, true)">
        </div>
        <div class="col-sm-6 offset-sm-1 col-form-label">
            <ion-range-slider type="double" [from]="valueSlider.lower" [to]="valueSlider.upper" min="0" max="255" hide_from_to="true" (onChange)="onSliderChange(valueSlider, $event)"></ion-range-slider>
        </div>
        <div class="col-sm-1 offset-sm-1">
            <input name="valueUpper" [(ngModel)]="valueInput.upper" type="number" min="0" max="255" class="form-control" (change)="onInputChange(valueInput, $event, false)" (keyup)="onInputChange(valueInput, $event)">
        </div>
   </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Erosion Steps</label>
        <div class="col-sm-1">
            <input name="erosionInput" [(ngModel)]="erosionInput.value" type="number" min="0" max="5" class="form-control" (change)="onInputChange(erosionInput, $event, false)" (keyup)="onInputChange(erosionInput, $event)">
        </div>
        <div class="col-sm-6 offset-sm-1 col-form-label">
            <ion-range-slider [from]="erosionSlider.value" min="0" max="5" hide_min_max="true" (onChange)="onSliderChange(erosionSlider, $event)"></ion-range-slider>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Dilation Steps</label>
        <div class="col-sm-1">
            <input name="dilationInput" [(ngModel)]="dilationInput.value" type="number" min="0" max="5" class="form-control" (change)="onInputChange(dilationInput, $event, false)" (keyup)="onInputChange(dilationInput, $event)">
        </div>
        <div class="col-sm-6 offset-sm-1 col-form-label">
            <ion-range-slider [from]="dilationSlider.value" min="0" max="5" hide_min_max="true" (onChange)="onSliderChange(dilationSlider, $event)"></ion-range-slider>
        </div>
    </div>
</form>