.settings-wrapper {
    padding: 24px;
}

.navbar {
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 5px);
}
/* .custom-control-label::before {
    background-color: darkorange;
} */

/* .custom-control-input:checked ~ .custom-control-label::before {
    color: #66bf0d;
    border-color: #66bf0d;
    background-color: #66bf0d;
  } */
