.row h2 {
    border-bottom: 1px solid #ccc; 
    font-size: 1.3em;
    line-height: 0.1em;
    margin: 10px 0 20px;
    padding-left: 40px;
    width: 100%; 
 } 
 
 .row h2 span { 
     background:#212121; 
     padding:0 10px; 
 }
