<form>
    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-form-label">Pipline Type</label>
        <div class="col-9">
            <select class="col-6 form-control"><option>Lemonlight Standard</option></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-form-label">Source Image</label>
        <div class="col-sm-6">
            <select class="form-control"><option>Camera</option></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-form-label">Resolution</label>
        <div class="col-sm-6">
            <select class="form-control"><option>320x240 90fps</option></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-form-label">LEDs</label>
        <div class="col-sm-6">
            <select class="form-control"><option>Off</option><option>On</option></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-form-label">Orientation</label>
        <div class="col-sm-6">
            <select class="form-control"><option>Normal</option><option>Upside-Down</option></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-form-label">Exposure (ms)</label>
        <div class="col-sm-2">
            <input name="exposure" [(ngModel)]="exposure" type="number" class="form-control">
        </div>
        <div class="col-sm-7 offset-sm-1 col-form-label">
            <ion-range-slider [from]="initialExposure" min="1" max="13" hide_min_max="true" (onChange)="setExposure($event)" (mousedown)="toggleStyle()" (mouseup)="toggleStyle()"></ion-range-slider>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-form-label">Black Level Offset</label>
        <div class="col-sm-2">
            <input name="blackLevel" [(ngModel)]="blackLevel" type="number" class="form-control">
        </div>
        <div class="col-sm-7 offset-sm-1 col-form-label">
            <ion-range-slider [from]="initialBlackLevel" min="1" max="255" hide_min_max="true" (onChange)="setBlackLevel($event)" (mousedown)="toggleStyle()" (mouseup)="toggleStyle()"></ion-range-slider>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-form-label">Red Balance</label>
        <div class="col-sm-2">
            <input name="redBalance" [(ngModel)]="redBalance" type="number" class="form-control">
        </div>
        <div class="col-sm-7 offset-sm-1 col-form-label">
            <ion-range-slider [from]="initialRedBalance" min="1" max="255" hide_min_max="true" (onChange)="setRedBalance($event)" (mousedown)="toggleStyle()" (mouseup)="toggleStyle()"></ion-range-slider>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-12 col-sm-2 col-form-label">Blue Balance</label>
        <div class="col-sm-2">
            <input name="blueBalance" [(ngModel)]="blueBalance" type="number" class="form-control">
        </div>
        <div class="col-sm-7 offset-sm-1 col-form-label">
            <ion-range-slider [from]="initialBlueBalance" min="1" max="255" hide_min_max="true" (onChange)="setBlueBalance($event)" (mousedown)="toggleStyle()" (mouseup)="toggleStyle()"></ion-range-slider>
        </div>
    </div>
</form>