@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700";

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    background: #fafafa;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 10px;
    padding-right: 10px;
}

form {
    width: 100%;
}

form .row {
    margin-bottom: 1rem;
}

form .seperator {
    border-top: 1px solid #ccc;
    margin: 40px 0;
}

form input, form input.form-control, form select, form select.form-control {
    background: #181719;
    border-color: #555;
    border-radius: 0;
    color: #fff;
}

form input:focus, form input.form-control:focus, form select:focus, form select.form-control:focus {
    background: #555;
    border-radius: 0;
    box-shadow: 0 0 0 0.2rem rgba(59, 158, 46, 0.25);
    color: #fff;
}

.form-control:disabled {
    background-color: #555;
}

form .custom-range:focus {
    background: transparent;
}

/* Range Sliders */
.irs-single, .irs-min, .irs-max {
    display: none;
}

.irs--round {
    margin-top: -25px;
}

.irs--round .irs-line {
    background-color: #555;
}

.irs--round .irs-bar {
    background-color: #cadb2d;
}

.irs--round .irs-handle {
    background-color: #212121;
    border: 3px solid #cadb2d;
    height: 16px;
    top: 30px;
    width: 16px;
}

.irs--round .irs-handle.state_hover, .irs--round .irs-handle:hover {
    background-color: #212121;
    cursor: pointer;
}